body{
    background-color: black;
    font-family: sans-serif;
    color: aliceblue;
}

h1{
    text-align: center;
    padding: 20px;
}

h3{
    text-align: center;
    color: #c69749;
}

#nav-bar{
    display: grid;
    place-items: center;
    background-color: #c69749;
    text-align: center;
    color: aliceblue;    
}

#botonRegreso{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #c69749;
}

#botonRegreso:hover{
    color: currentColor;
}