body{
   background-color: #282A3A;
   font-family: Arial, Helvetica, sans-serif;
   text-align: center;
   position: relative;
   padding-bottom: 15em;
   min-height: 100vh;
}

#navbarNav{
    font-family: Arial, Helvetica, sans-serif;
}

.container-fluid{
    margin-left: 70px;
}

.navbar-nav{
    margin-left: 500px;
}

#logo-nav{
    width: 60px;
    margin-right: 60px;
}

.navbar{
    background-color: #c69749;
}

.navbar-apuesta{
    font-family: "Cream Cake";
    font-size: 60px;
}

.navbar-todocom{
    padding: 10px;
    margin-top: 15px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#bets{
    justify-content: center;
    text-align: center;
    margin-top: 60px;
    color: aliceblue;
}

.d-block{
    padding: 20px;
    margin: auto;
}



#link-deportes{
   color: aliceblue;
}

#link-deportes:hover{
    color:gold;
}

#Formulario-InicioSesion{
    justify-content: center;
    display: grid;
    text-align: left;
    color: aliceblue;
}

#titulo{
    padding: 50px;
    text-align: center;
    color: aliceblue;
}

#botonRegreso{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #c69749;
}

#botonRegreso:hover{
    color: currentColor;
}

footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            background-color: #000000;
            color: white;
            padding: 10px;
            text-align: center;
            font-size: 14px;
        }
        .footer-content {
            display: flex; 
            justify-content: center; 
            align-items: center; 
            flex-wrap: wrap; 
            gap: 20px;
        }

        .footer-column {
            flex: 1; 
            text-align: left; 
            max-width: calc(25% - 20px);
        }

        .footer-column h3 {
            color: #c69749;
            font-size: 18px;
        }

        .footer-column p {
            margin: 0;
            font-size: 12px
        }
.mi-lista {
  background-color: #735F32;
}
.tabla-grande {
    font-size: 18px; /* Tamaño de fuente más grande */
    border-collapse: collapse; /* Combina los bordes de las celdas */
    width: 100%; /* Ancho de la tabla al 100% del contenedor */
}

.tabla-grande th, .tabla-grande td {
    padding: 10px; /* Espaciado interno mayor */
    text-align: center; /* Alineación de texto al centro */
}

.gradient-custom-2 {
/* fallback for old browsers */
background: #fccb90;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, #c69749, #c69749, #c69749, #c69749);
}

@media (min-width: 768px) {
.gradient-form {
height: 100vh !important;
}
}
@media (min-width: 769px) {
.gradient-custom-2 {
border-top-right-radius: .3rem;
border-bottom-right-radius: .3rem;
}
}

