body{
    background:linear-gradient(to right, #000000, #232323 , #6d6c6b, #9d9d9b );
   text-align: center;
   position: relative;
   padding-bottom: 15em;
   min-height: 100vh;
}


.container-fluid{
    margin-left: 70px;
}

.navbar-nav{
    margin-left: 500px;
}

#logo-nav{
    width: 60px;
    margin-right: 60px;
}

.navbar{
    background-color: #ccc414;
}

.navbar-apuesta{
    font-family: "Cream Cake";
    font-size: 60px;
     font-weight: 900;
}

.navbar-todocom{
    padding: 10px;
    margin-top: 15px;
    font-size: 20px;
     font-weight: 900;
}

#bets{
    justify-content: center;
    text-align: center;
    margin-top: 60px;
    color: black;
}

.d-block{
    padding: 20px;
    margin: auto;
}


#Formulario-InicioSesion{
    justify-content: center;
    display: grid;
    text-align: left;
    color: aliceblue;
}

#titulo{
    padding: 50px;
    text-align: center;
    color: aliceblue;
}

#botonRegreso{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #c69749;
}

footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            background-color: #000000;
            color: white;
            padding: 10px;
            text-align: center;
            font-size: 14px;
        }
        .footer-content {
            display: flex; 
            justify-content: center; 
            align-items: center; 
            flex-wrap: wrap; 
            gap: 20px;
        }

        .footer-column {
            flex: 1; 
            text-align: left; 
            max-width: calc(25% - 20px);
        }

        .footer-column h3 {
            color: #c69749;
            font-size: 18px;
        }

        .footer-column p {
            margin: 0;
            font-size: 12px
        }

.tabla-grande {
    font-size: 18px; /* Tamaño de fuente más grande */
    border-collapse: collapse; /* Combina los bordes de las celdas */
    width: 100%; /* Ancho de la tabla al 100% del contenedor */
}

.tabla-grande th, .tabla-grande td {
    padding: 10px; /* Espaciado interno mayor */
    text-align: center; /* Alineación de texto al centro */
}

.gradient-custom-2 {
/* fallback for old browsers */
background: #fccb90;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, #c69749, #c69749, #c69749, #c69749);
}

@media (min-width: 768px) {
.gradient-form {
height: 100vh;
}
}
@media (min-width: 769px) {
.gradient-custom-2 {
border-top-right-radius: .3rem;
border-bottom-right-radius: .3rem;
}
}

#fondoNewUsuario{
    background-image: url(../img/Neymar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
/* Estilos para el contenedor de partidos */
.partidos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: black;
    margin: 50px;
}

/* Estilos para las burbujas de partido */
.partido-burbuja {
    background-color:#ccc414;
    border: 2px solid #333;
    padding: 10px;
    text-align: center;
    margin: 10px; /* Espacio entre burbujas */
    border-radius: 10px;
    width: calc(33.33% - 20px); /* Ancho de un tercio del contenedor con margen */
    box-sizing: border-box;
}

.equipo-local, .equipo-visitante {
    font-weight: bold;
}

.fecha {
    color: darkgreen;
}

a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
}

a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    position: relative; /* Añadir una posición relativa al enlace */
}
.btn-navbar {
  background-color: #999999; /* Código de color naranja como ejemplo */
  color: black; /* Color de texto */
 font-weight: 900;
}
#lineadebajo-navbar{
    border-color: #999999;/* Cambia el color a tu preferencia */
  border-width: 3px; /* Establece el grosor de la línea */
  margin: 0; /* Ajusta el margen si es necesario */
}
.mi-lista {
    background-color: black;
  padding: 6px; 
}