body{
   background-color: black;
   font-family: Arial, Helvetica, sans-serif;
   text-align: center;
}

#navbarNav{
    font-family: Arial, Helvetica, sans-serif;
}

.container-fluid{
    margin-left: 70px;
}

.navbar-nav{
    margin-left: 500px;
}

#logo-nav{
    width: 60px;
    margin-right: 60px;
}

.navbar{
    background-color: #c69749;
}

.navbar-apuesta{
    font-family: "Cream Cake";
    font-size: 60px;
}

.navbar-todocom{
    padding: 10px;
    margin-top: 15px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#bets{
    justify-content: center;
    text-align: center;
    margin-top: 60px;
    color: aliceblue;
}

.d-block{
    padding: 20px;
    margin: auto;
}



#link-deportes{
   color: aliceblue;
}

#link-deportes:hover{
    color:gold;
}


